.course__course {
  color: #FFF;
  font-family: "Yeseva One";
  font-size: 11px;
  font-weight: 400;
}
.course__study {
  color: #FFF;
  font-family: "Comfortaa";
  font-size: 10px;
  font-weight: 400;
}