@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFF8F3;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.page {
  min-width: 100%;
  overflow: hidden;
}

.home__btn {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 600;
  color: #272727;
  background-color: #FFBD59;
  padding: 18px 54px;
}

.subscribe__btn, .buy__link, .products__btn {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 600;
  color: #272727;
  background-color: #FFBD59;
  padding: 18px 54px;
}

.container {
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}
.header__nav-link {
  color: #000000;
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 23px;
}
.header__nav-link:first-child {
  margin: 0;
}
.header__btn {
  position: relative;
  color: #000000;
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  padding-left: 22px;
}
.header__btn::before {
  position: absolute;
  top: -2px;
  left: 2px;
  content: url(../img/header/Vector.png);
}

.navToogle {
  display: none;
}

.navToogle span {
  display: block;
  width: 30px;
  height: 1px;
  background-color: #7B6152;
}

@media (max-width: 768px) {
  .header__nav-link {
    font-size: 10px;
  }
  .header__btn {
    font-size: 10px;
  }
}
@media (max-width: 630px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #7B6152;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px 46px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s linear;
    transition: -webkit-transform 0.4s linear;
    transition: transform 0.4s linear;
    transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  }
  .header__nav.header__nav-show {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .header__nav-link {
    color: #FFF8F3;
    font-family: "Comfortaa";
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    margin-left: 0;
  }
  .navToogle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30px;
    height: 25px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.home {
  padding-top: 45px;
  padding-bottom: clamp(59px, 10.41vw, 150px);
}
.home__content {
  padding-top: 150px;
  padding-bottom: 250px;
  max-width: 371px;
}
.home__title {
  color: #000000;
  font-family: "Yeseva One";
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}
.home__text {
  color: #000000;
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 36px;
}
.home__photo {
  position: absolute;
  left: 255px;
  top: 0;
}
.home__inner {
  position: relative;
}

@media (max-width: 1000px) {
  .home__img {
    width: 655px;
  }
  .home__photo {
    left: 300px;
  }
  .home__content {
    padding-top: 90px;
    padding-bottom: 85px;
    max-width: 333px;
  }
}
@media (max-width: 768px) {
  .home__content {
    max-width: 230px;
    padding: 105px 0 125px;
  }
  .home__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .home__text {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .home__photo {
    left: 190px;
  }
}
@media (max-width: 480px) {
  .home__img {
    width: 309px;
  }
  .home__photo {
    left: 175px;
  }
  .home__title {
    font-size: 15.183px;
    margin-bottom: 15.8px;
  }
  .home__text {
    font-size: 8px;
    margin-bottom: 15.8px;
  }
  .home__content {
    max-width: 180px;
    padding: 80px 0;
  }
  .home {
    padding-bottom: 50px;
  }
  .home__btn {
    font-size: 12px;
    padding: 16px 50px;
  }
}
@media (max-width: 360px) {
  .home__title {
    font-size: 18px;
    margin-bottom: 15.8px;
  }
  .home__text {
    font-size: 10px;
    margin-bottom: 15.8px;
  }
  .home__content {
    max-width: 233px;
    padding-top: 35px;
  }
  .home__img {
    width: 113px;
    height: 151px;
  }
  .home__photo {
    left: 215px;
  }
  .home__btn {
    font-size: 10px;
    padding: 15px 47px;
  }
}
.about {
  padding: 50px 0;
  background-color: #A5978E;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
  padding-bottom: 50px;
  padding-left: 110px;
}
.about__body::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 1000px;
  background-color: #7B6152;
  position: absolute;
  left: 22px;
  bottom: 13px;
}
.about__body::after {
  content: url(../img/about/Mask\ group.svg);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 30px;
  z-index: 2;
}
.about__content {
  min-width: 370px;
}
.about__title {
  font-family: "Yeseva One";
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
}
.about__text {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.about__text p {
  margin-bottom: 20px;
}
.about__img {
  padding-bottom: 11px;
}
.about__item-text {
  font-family: "Comfortaa";
  font-size: 11px;
  font-weight: 400;
  color: #FAFAFA;
}

@media (max-width: 1000px) {
  .about__content {
    min-width: 300px;
  }
  .about__body {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .about__title {
    font-size: 15px;
  }
  .about__content {
    min-width: 200px;
  }
  .about__text {
    font-size: 10px;
  }
  .about__img {
    width: 120px;
  }
  .about__img-2 {
    width: 190px;
  }
  .about__item-text {
    font-size: 6px;
  }
  .about__body {
    gap: 0 10px;
  }
}
@media (max-width: 480px) {
  .about__content {
    min-width: 171px;
  }
  .about__img {
    width: 80px;
  }
  .about__img-2 {
    width: 140px;
  }
  .about__item-text {
    display: none;
  }
  .about__body {
    gap: 0 5px;
  }
}
@media (max-width: 360px) {
  .about__content {
    min-width: 233px;
  }
  .about__text {
    font-size: 8px;
  }
  .about__body {
    gap: 0 15px;
  }
  .about {
    padding-top: 25px;
    padding-bottom: 39px;
  }
}
.products {
  padding-top: 150px;
}
.products__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 372px auto;
  grid-template-columns: 372px auto;
}
.products__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 93px auto;
  grid-template-columns: auto auto;
  gap: 50px 93px;
  margin-left: 30px;
}
.products__title {
  font-family: "Yeseva One";
  font-size: 40px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
.products__text {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.products__price {
  font-family: "Yeseva One";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 12px;
}
.products__name {
  font-family: "Yeseva One";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 16px;
}
.products__item {
  text-align: center;
}
.products__item-text {
  font-family: "Comfortaa";
  font-size: 12px;
  font-weight: 400;
  color: #000;
  max-width: 290px;
  margin: 0 auto 27px;
}
.products__img {
  margin-bottom: 8px;
}
.section-line {
  padding-bottom: 70px;
  position: relative;
  margin-bottom: clamp(59px, 11.11vw, 160px);
}
.section-line::before {
  content: "";
  display: inline-block;
  width: 908px;
  height: 1px;
  background-color: #7B6152;
  position: absolute;
  right: 0;
  bottom: 0;
}
.section-line::after {
  content: url(../img/about/Mask\ group.svg);
  display: inline-block;
  position: absolute;
  bottom: -10px;
  right: 908px;
  width: 22px;
  height: 30px;
  z-index: 2;
}

@media (max-width: 1000px) {
  .products__row {
    -ms-grid-columns: 300px auto;
    grid-template-columns: 300px auto;
  }
  .products__content {
    gap: 67px;
  }
  .products__text {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .products__row {
    -ms-grid-columns: 199px auto;
    grid-template-columns: 199px auto;
  }
  .products__title {
    font-size: 15px;
  }
  .products__price {
    font-size: 12px;
  }
  .products__name {
    font-size: 12px;
  }
  .products__item-text {
    font-size: 8px;
  }
  .products__btn {
    font-size: 12px;
    padding: 15px 34px;
  }
  .products__content {
    gap: 16px;
  }
  .products__img {
    width: 188px;
  }
}
@media (max-width: 620px) {
  .products__row {
    display: block;
  }
  .products__descr {
    text-align: center;
    max-width: 300px;
    margin: 0 auto 30px;
  }
  .products {
    padding-top: 50px;
  }
  .products__content {
    margin-left: 0;
  }
}
@media (max-width: 360px) {
  .products__price {
    font-size: 10px;
  }
  .products__name {
    font-size: 10px;
  }
  .products__item-text {
    font-size: 6px;
  }
  .products__btn {
    font-size: 8px;
    padding: 10px 30px;
  }
  .products__text {
    font-size: 8px;
  }
  .products__img {
    width: 141px;
  }
}
.steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 39px;
  position: relative;
}
.steps__text {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  color: #000;
  width: 171px;
}
.steps__number {
  color: #BEA495;
  font-family: "Yeseva One";
  font-size: 30px;
  font-weight: 400;
}
.steps-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.steps-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1000px) {
  .steps__img {
    width: 128px;
  }
  .steps__content {
    width: 100px;
  }
  .steps__text {
    width: 100px;
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .steps__content {
    width: 90px;
  }
  .steps__img {
    width: 85px;
  }
  .steps__text {
    font-size: 8px;
  }
  .steps__number {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .steps__number {
    font-size: 12px;
  }
}
.course__create {
  color: #FFF;
  font-family: "Yeseva One";
  font-size: 11px;
  font-weight: 400;
  background-color: #BEA495;
  padding: 15px 10px;
  position: absolute;
  left: 0;
  top: 166px;
  z-index: 2;
}
.course__study {
  color: #FFF;
  font-family: "Comfortaa";
  font-size: 10px;
  font-weight: 400;
  background-color: #BEA495;
  padding: 7px 10px;
  position: absolute;
  left: 0;
  top: 224px;
  z-index: 2;
}
.course__price {
  color: #FFF;
  font-family: "Yeseva One";
  font-size: 11px;
  font-weight: 400;
  background-color: #BEA495;
  padding: 25px 10px;
  position: absolute;
  bottom: -14px;
  right: -14px;
}
.course__photo {
  position: relative;
}
.course__img {
  width: 100%;
  margin-bottom: 28px;
}
.course__title {
  font-family: "Yeseva One";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
.course__text {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #000;
}
.course__buy {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 600;
  color: #272727;
  background-color: #FFBD59;
  padding: 13px 16px;
}
.course__content {
  text-align: center;
}

@media (max-width: 768px) {
  .course__img {
    width: 195px;
  }
  .course__buy {
    font-size: 12px;
  }
  .course__text {
    font-size: 10px;
  }
  .course__title {
    font-size: 12px;
  }
  .course__create {
    padding: 6px;
    top: 115px;
    font-size: 9px;
  }
  .course__price {
    padding: 10px;
    right: 0;
    font-size: 9px;
    bottom: 40px;
  }
  .course__study {
    padding: 5px;
    top: 155px;
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  .course__price {
    right: 30px;
  }
}
@media (max-width: 360px) {
  .course__create {
    font-size: 11px;
  }
  .course__study {
    font-size: 11px;
  }
  .course__price {
    right: 1px;
  }
  .cource--inner {
    display: block;
  }
  .course__item {
    width: 255px;
    margin: 0 auto;
  }
  .course__img {
    width: 100%;
  }
  .course__text {
    margin-bottom: 15px;
  }
  .course__buy {
    margin-bottom: 20px;
  }
}
.teacher {
  background-color: #A5978E;
  padding: 60px 0;
}
.teacher__title-top {
  font-family: "Yeseva One";
  font-size: 40px;
  font-weight: 400;
  color: #FAFAFA;
  margin-bottom: 15px;
}
.teacher__text-end {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  color: #FAFAFA;
}
.teacher__title {
  font-family: "Yeseva One";
  font-size: 12px;
  font-weight: 400;
  color: #FAFAFA;
}
.teacher__text {
  font-family: "Comfortaa";
  font-size: 10px;
  font-weight: 400;
  color: #FAFAFA;
}
.teacher__about {
  position: absolute;
  bottom: 9px;
  right: 0;
  background-color: #7B6152;
  padding: 14px 10px;
  width: 165px;
  text-align: center;
}
.teacher__item {
  position: relative;
}

@media (max-width: 768px) {
  .teacher__text-end {
    font-size: 10px;
  }
  .teacher__title-top {
    font-size: 24px;
  }
  .teacher__img {
    width: 142px;
  }
  .teacher__title {
    font-size: 10px;
  }
  .teacher__text {
    font-size: 9px;
  }
  .teacher__about {
    width: 106px;
    padding: 3px 3px;
  }
}
@media (max-width: 480px) {
  .teacher__title-top {
    text-align: center;
  }
  .teacher__text-end {
    max-width: 300px;
    margin: 0 auto 15px;
  }
  .teacher__text {
    font-size: 6px;
  }
  .teacher__title {
    font-size: 8px;
  }
  .teacher__about {
    padding: 9px 6px;
  }
  .teacher__content {
    text-align: center;
  }
}
@media (max-width: 360px) {
  .teacher--inner {
    display: block;
  }
  .teacher__img {
    width: 204px;
    margin-bottom: 20px;
  }
  .teacher__text {
    font-size: 10px;
  }
  .teacher__title {
    font-size: 11px;
  }
  .teacher__about {
    padding: 17px 10px 10px 8px;
    width: 151px;
    right: 50px;
    bottom: 34px;
  }
}
.feedback {
  padding-bottom: 56px;
  padding-top: clamp(59px, 10.41vw, 150px);
  margin-bottom: clamp(50px, 11.59vw, 167px);
}
.feedback__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 16px auto;
  grid-template-columns: auto auto;
  gap: 0 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  position: relative;
  margin-bottom: 50px;
}
.feedback__video {
  position: relative;
}
.feedback__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}
.feedback__review {
  font-family: "Yeseva One";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
.feedback__candle {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-bottom: 83px;
}
.feedback__exile {
  background-color: #FFBD59;
  padding: 20px 35px;
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 600;
  color: #272727;
  position: absolute;
  bottom: 0;
  right: 0;
}
.feedback-swiper {
  width: 760px;
  overflow: hidden;
}

.swiper-pagination-bullet {
  width: 53px;
  height: 4px;
  background-color: #BEA495;
  border-radius: 0;
  opacity: 1;
  margin: 0 3.5px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #272727;
}

@media (max-width: 1000px) {
  .feedback-swiper {
    width: 650px;
  }
}
@media (max-width: 768px) {
  .feedback__review {
    font-size: 12px;
  }
  .feedback__candle {
    font-size: 10px;
  }
  .feedback__img {
    width: 200px;
  }
  .feedback__exile {
    padding: 15px 20px;
  }
  .feedback__photo {
    width: 50px;
  }
  .feedback-swiper {
    width: 480px;
  }
}
@media (max-width: 480px) {
  .feedback__exile {
    font-size: 10px;
    right: 100px;
  }
}
@media (max-width: 360px) {
  .feedback__item {
    display: block;
  }
  .feedback-swiper {
    width: 250px;
  }
  .feedback__review {
    font-size: 10px;
  }
  .feedback__candle {
    font-size: 9px;
    margin-bottom: 20px;
  }
  .feedback__body {
    text-align: center;
  }
  .feedback__exile {
    position: static;
  }
  .feedback__img {
    width: 250px;
    margin-bottom: 12px;
  }
  .feedback__item {
    padding-left: 0;
  }
}
.certificate {
  padding-bottom: clamp(60px, 11.11vw, 160px);
}
.certificate__title {
  font-family: "Yeseva One";
  font-size: 40px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
.certificate__text {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.certificate__swiper {
  width: 1135px;
  overflow: hidden;
}
.certificate__content {
  padding-bottom: 114px;
}
.certificate__content .swiper-pagination {
  text-align: left;
  bottom: 60px;
}
.certificate__line {
  position: relative;
}
.certificate__line::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 13px;
  width: 1000%;
  height: 1px;
  background-color: #7B6152;
}
.certificate__line::before {
  content: url(../img/certificate/remo-4.png);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 30px;
  display: inline-block;
}

@media (max-width: 1000px) {
  .certificate__img {
    width: 280px;
  }
  .certificate__swiper {
    width: 850px !important;
  }
}
@media (max-width: 768px) {
  .certificate__img {
    width: 199px;
  }
  .certificate__swiper {
    width: 600px !important;
  }
}
@media (max-width: 480px) {
  .certificate__swiper {
    width: 415px !important;
    margin: 0 auto;
  }
  .certificate__content .swiper-pagination {
    text-align: center;
  }
}
@media (max-width: 360px) {
  .certificate__swiper {
    width: 200px !important;
    margin: 0 auto;
  }
}
.question__title {
  font-family: "Yeseva One";
  font-size: 40px;
  font-weight: 400;
  color: #000;
}

.accordion {
  padding-bottom: clamp(50px, 13.88vw, 200px);
}
.accordion__btn {
  font-family: "Yeseva One";
  font-size: 16px;
  font-weight: 400;
  position: relative;
  width: 100%;
  display: block;
  text-align: left;
  padding: 16px 45px 16px 13px;
  cursor: pointer;
}
.accordion__btn::after {
  content: url(../img/certificate/Vector.png);
  position: absolute;
  top: 16px;
  right: 26px;
}
.accordion__btn.accordion__active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.accordion__content {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  color: #000;
  opacity: 0;
  max-height: 0;
  -webkit-transition: opacity 0.3s, max-height 0.3s linear;
  transition: opacity 0.3s, max-height 0.3s linear;
}
.accordion__content.accordion__content-hidden {
  opacity: 1;
}
.accordion__content ol {
  padding: 20px;
}
.accordion__item {
  background-color: #FFF;
  -webkit-box-shadow: 0px 4px 11px 0px;
          box-shadow: 0px 4px 11px 0px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .accordion__btn {
    font-size: 13px;
  }
  .accordion__content {
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  .accordion__btn {
    font-size: 12px;
  }
  .accordion__content {
    font-size: 11px;
  }
}
.buy {
  background-image: url(../img/buy/back.png);
  background-repeat: no-repeat;
  height: clamp(120px, 23.05vw, 332px);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buy__text {
  font-family: "Yeseva One";
  font-size: 40px;
  font-weight: 400;
  color: #FFF;
}
.buy__link {
  white-space: nowrap;
}
.buy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.buy__bella {
  margin-left: 8px;
}

@media (max-width: 1000px) {
  .buy__row {
    gap: 7px;
  }
}
@media (max-width: 768px) {
  .buy__text {
    font-size: 15px;
  }
  .buy__link {
    font-size: 12px;
    padding: 15px 48px;
  }
}
@media (max-width: 480px) {
  .buy__link {
    font-size: 8px;
    padding: 12px 35px;
  }
}
.subscribe {
  padding-top: clamp(50px, 10.41vw, 150px);
  padding-bottom: 50px;
}
.subscribe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.subscribe__form {
  background-color: #FFF;
  padding: 75px 40px;
  max-width: 664px;
  width: 100%;
}
.subscribe__input {
  display: block;
  width: 100%;
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #000;
  padding: 23px 7px 13px;
  margin-bottom: 25px;
}
.subscribe__title {
  font-family: "Yeseva One";
  font-size: 40px;
  font-weight: 400;
  color: #000;
  margin-bottom: 50px;
}
.subscribe__btn {
  margin-top: 35px;
}
.subscribebella {
  margin-left: 8px;
}

@media (max-width: 1000px) {
  .subscribe__row {
    gap: 21px;
  }
}
@media (max-width: 768px) {
  .subscribe__img {
    width: 187px;
    height: 285px;
  }
  .subscribe__title {
    font-size: 15px;
  }
  .subscribe__input {
    font-size: 8px;
  }
  .subscribe__form {
    width: 440px;
    height: 277px;
    padding: 30px 25px;
  }
  .subscribe__row {
    gap: 15px;
  }
  .subscribe__title {
    margin-bottom: 43px;
  }
  .subscribe__input {
    margin-bottom: 18px;
    padding: 18px 8px 12px;
  }
  .subscribe__btn {
    margin-top: 7px;
  }
}
@media (max-width: 480px) {
  .subscribe__img {
    display: none;
  }
  .subscribe__form {
    height: 267px;
    width: 440px;
  }
  .subscribe__title {
    margin-bottom: 40px;
  }
  .subscribe__input {
    margin-bottom: 18px;
    padding: 15px 7px 10px;
  }
  .subscribe__btn {
    padding: 14px 21px;
  }
}
@media (max-width: 360px) {
  .subscribe__form {
    height: 267px;
    width: 340px;
  }
  .subscribe__btn {
    padding: 13px 15px;
    margin-top: -7px;
  }
  .subscribe__input {
    margin-bottom: 30px;
  }
}
.footer {
  background-color: #FFF;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}
.footer__link {
  margin-right: 20px;
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
}
.footer__link:last-child {
  margin: 0;
}
.footer__number {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-bottom: 20px;
}
.footer__email {
  font-family: "Comfortaa";
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-bottom: 15px;
}
.footer__img {
  margin-right: 15px;
  color: rgb(0, 0, 0);
  font-size: 22px;
}
.footer__img:last-child {
  margin: 0;
}

@media (max-width: 768px) {
  .footer__link {
    font-size: 10px;
  }
  .footer__number {
    font-size: 10px;
  }
  .footer__email {
    font-size: 10px;
  }
  .footer__img {
    font-size: 18px;
  }
  .footer__info {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .footer__link {
    font-size: 14px;
    margin-right: 0;
  }
  .footer__number {
    font-size: 14px;
  }
  .footer__email {
    font-size: 14px;
  }
  .footer__img {
    font-size: 22px;
  }
  .footer__row {
    gap: 50px;
  }
  .footer__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 22px;
  }
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}