.about{

    padding:50px 0 ;
    background-color: #A5978E;
    
    

    &__inner{
        display: flex;
        align-items: center;
    }

    &__body{
        position: relative;
        display: flex;
        align-items:center ;
        gap: 0 20px;
        padding-bottom: 50px;
        padding-left: 110px;

        &::before{
            content: '';
            display: inline-block;
            height:1px ;
            width: 1000px;
            background-color: #7B6152;
            position: absolute;
            left: 22px;
            bottom: 13px;
        }
    
        &::after{
            content: url(../img/about/Mask\ group.svg);
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 22px;
            height: 30px;
            z-index: 2;
            
        }
    }


    &__content{
        min-width: 370px;

    }

    &__title{
        font-family: 'Yeseva One';
        font-size: 40px;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 20px;
    }

    &__text{
        font-family: 'Comfortaa';
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;

        & p{
            margin-bottom: 20px;
        }
    }

    &__img{
        padding-bottom: 11px;
    }

    &__item{

        &-text{
            font-family: 'Comfortaa';
            font-size: 11px;
            font-weight: 400;
            color: #FAFAFA;

        }
    }

}


@media (max-width:1000px) {
    .about__content{
        min-width: 300px;
    }

    .about__body{
        padding-left: 20px;
    }    
}

@media (max-width:768px) {
    .about__title{
        font-size: 15px;
    }

    .about__content{
        min-width: 200px;
    }

    .about__text{
        font-size: 10px;
    }
    
    .about__img{
        width: 120px;
    }

    .about__img-2{
        width: 190px;
    }

    .about__item-text{
        font-size: 6px;
    }

    .about__body{
        gap: 0 10px;
    }
}


@media (max-width:480px) {
    .about__content{
        min-width: 171px;
    }

    .about__img{
        width: 80px;
    }

    .about__img-2{
        width: 140px;
    }

    .about__item-text{
        display: none;
    }

    .about__body{
        gap: 0 5px;
    }
}

@media (max-width:360px) {

    .about__content{
        min-width: 233px;
    }

    .about__text{
        font-size: 8px;
    }

    .about__body{
        gap: 0 15px;
    }

    .about{
        padding-top: 25px;
        padding-bottom: 39px;
    }
}