%button{
    font-family: 'Comfortaa';
    font-size: 14px;
    font-weight: 600;
    color: #272727;
    background-color: #FFBD59;
    padding: 18px 54px;
}


%link{
    font-family: 'Comfortaa';
    font-size: 14px;
    font-weight: 600;
    color: #272727;
    background-color: #FFBD59;
    padding: 18px 54px;
}