.products{


    padding-top: 150px;

    &__row{
        display: grid;
        grid-template-columns: 372px auto;
    }

    &__content{
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px 93px;
        margin-left: 30px;
    }

    &__title{
        font-family: 'Yeseva One';
        font-size: 40px;
        font-weight: 400;
        color: #000;
        margin-bottom: 15px;
    }


    &__text{
        font-family: 'Comfortaa';
        font-size: 14px;
        font-weight: 400;
        color: #000;
      
    }

    &__price{
        font-family: 'Yeseva One';
        font-size: 16px;
        font-weight: 400;
        color: #000;
        margin-bottom: 12px;
    }

    &__name{
        font-family: 'Yeseva One';
        font-size: 16px;
        font-weight: 400;
        color: #000;
        margin-bottom: 16px;
    }

    &__item{

        text-align: center;

        &-text{
            font-family: 'Comfortaa';
            font-size: 12px;
            font-weight: 400;
            color: #000;
            max-width: 290px;
            margin: 0 auto 27px;
        }
    }


    &__img{
        margin-bottom: 8px;
    }

    &__btn{
        @extend %link;
    }
}


.section-line{
    padding-bottom: 70px;
    position: relative;
    margin-bottom: clamp(59px, 11.11vw, 160px);
    

    &::before{
        content: '';
        display: inline-block;
        width: 908px;
        height: 1px;
        background-color: #7B6152;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &::after{
        content: url(../img/about/Mask\ group.svg);
        display: inline-block;
        position: absolute;
        bottom: -10px;
        right: 908px;
        width: 22px;
        height: 30px;
        z-index: 2;
    }

}


@media (max-width:1000px) {
    .products__row{
        grid-template-columns: 300px auto;
    }

    .products__content{
        gap:67px;
    }

    .products__text{
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .products__row{
        grid-template-columns: 199px auto;
    }

    .products__title{
        font-size: 15px;
    }

    .products__price{
        font-size: 12px;
    }

    .products__name{
        font-size: 12px;
    }

    .products__item-text{
        font-size: 8px;
    }

    .products__btn{
        font-size: 12px;
        padding: 15px 34px;
    }

    .products__content{
        gap:16px;
    }

    .products__img{
        width: 188px;
    }
}


@media (max-width:620px) {
    .products__row{
        display: block;
    }

    .products__descr{
        text-align: center;
        max-width: 300px;
        margin: 0 auto 30px;
    }

    .products{
        padding-top: 50px;
    }

    .products__content{
        margin-left: 0;
    }
    
}


@media (max-width:360px) {
    .products__price{
        font-size: 10px;
    }
    .products__name{
        font-size: 10px;
    }

    .products__item-text{
        font-size: 6px;
    }

    .products__btn{
        font-size: 8px;
        padding: 10px 30px;
    }

    .products__text{
        font-size: 8px;
    }

    .products__img{
        width: 141px;
    }

}